

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: red;
}

.slick-slide>div {
  margin: 0 20px;/* Position the previous arrow */
}

.slick-slide>div:nth-child(1) {
 margin-left: 0; /* Position the next arrow */
}

.slick-list {
margin-right: -20px;
}

/* stripe payment form */
.payment-element {
  border: 1px solid #ccc;
  padding: 25px;
}

